<!DOCTYPE html>
<html>
	<head>
		<!-- HTML Meta Tags -->
		<title><%= title %> | Non_Reai's blogs</title>
		<meta name="description" content="<%= desc %>... Read more at blog.non-reai.xyz">
		<meta content="#ffb938" data-react-helmet="true" name="theme-color" />
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://blog.non-reai.xyz/blog/<%= blogId %>">
		<meta property="og:type" content="website">
		<meta property="og:title" content="<%= title %> | Non_Reai's blogs">
		<meta property="og:description" content="<%= desc %>... Read more at blog.non-reai.xyz">
		<meta property="og:image" content="https://blog.non-reai.xyz/api/blogs/cover-image/<%= blogId %>">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="blog.non-reai.xyz">
		<meta property="twitter:url" content="https://blog.non-reai.xyz/blog/<%= blogId %>">
		<meta name="twitter:title" content="<%= title %> | Non_Reai's blogs">
		<meta name="twitter:description" content="<%= desc %>... Read more at blog.non-reai.xyz">
		<meta name="twitter:image" content="https://blog.non-reai.xyz/api/blogs/cover-image/<%= blogId %>">

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

		<!-- and it's easy to individually load additional languages -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

		<script>hljs.highlightAll();</script>
		<link href="/blog.css" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="/">blog.non-reai.xyz</a>
			<a href="https://non-reai.xyz">Homepage</a>
		</nav>
		<div id="blog-heading">
			<h1><%= title %></h1>
			<h3><span class="user-replace"><%= author %></span> @ <span id="date"><%= date %></span></h3>
			<h5 id="edits">
				<% if (edits.length > 0) { %>
					Edits: 
					<% edits.forEach((element)=>{ %>
						<div class="edit">
							<span class="edit-author user-replace"><%= element.author %></span>
							@ 
							<span class="edit-date"><%= new Date(element.dateEdited.seconds * 1000).toISOString() %></span>
						</div>
					<% })%>
				<% } %>
			</h3>
			<h3>
				<% tags.forEach((tag)=>{ %>
					<% if (tag) { %>
						<span class="tag"><%= tag %></span>
					<% } %>
				<% }) %>
			</h3>
		</div>
		<div id="blog">
			<%- body %>
		</div>
		<div id="comments">
			<h1>Comments</h1>
			<h3 id="comment-replyto"></h3>
			<p id="comment-replyto-content"></p>
			<input class="comment-input" placeholder="Leave a comment">
			<a id="comment-post-button" type="button" class="button">Post</a>
			<!-- <div class="comment">
				<h2>Non_reai<span class="comment-date">3/16/2024, 10:07:17 PM</span></h2>
				<div>
					<p>test comment</p>
					<div class="comment-interact-bar">
						<a>Upvote</a><a>Downvote</a><a>Reply</a>
					</div>

				</div>
			</div> -->
		</div>
		<script src="/blog.js"></script>
	</body>
</html>